<%- include('partials/head')%>
	<body>
		<h1 class="m-5 container">Home</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus corporis nihil quidem delectus quo molestias vero nobis
			illum! Odio tempore debitis placeat expedita ex maxime perspiciatis amet officiis, sit magni! Tenetur quas repudiandae
			ratione accusantium ullam soluta eos cum! Fugiat quaerat nulla libero. Neque delectus odit et? Quod, voluptate? Quasi,
			voluptas temporibus? Eum odio quas corporis mollitia voluptatibus harum modi. Tempore debitis laboriosam, nemo architecto
			sequi eius minus quidem voluptates dolorem, beatae ipsa itaque, animi suscipit. Aspernatur quo voluptates soluta autem rerum
			dolorem. Magni iusto voluptas fugiat aliquam asperiores qui. Fuga illum culpa velit nostrum nulla error provident est
			architecto, quod labore tempora deleniti necessitatibus vero doloremque quibusdam et officiis eaque maxime quisquam corporis
			fugit quidem, maiores ad? A, id! Quisquam perferendis temporibus excepturi officiis laboriosam accusamus eius natus
			similique recusandae, a magni eum ipsa eos obcaecati dolores repellat! Delectus non facilis tempore quod, quaerat fuga culpa
			eaque fugiat sapiente?
		</p>
		<script src="./index.js"></script>
	</body>
</html>
